// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-columns {
 background-color:#E8E8E8;
}
.body {
  text-align: center;
}
div.jumbotron {
  background-color: #E8E8E8;
  margin-bottom: 0px;
}
hr {
  color: black;
}
